<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h2>Tarifs du club</h2>
                <p>Dans le cas d’inscription de plusieurs cyclistes de la même famille, une dégressivité sur le coût de l’adhésion sera appliquée. Pour les sessions de piste une participation supplémentaire sera demandée au pratiquant (session et vélo le cas échéant). Les engagements en compétition sont pris en charge par le club. </p>
            </div>
        </div>
        <div class="pricing-table">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-table featured wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h3>Adhésion</h3>
                        <div class="price">
                            80 €
                        </div>
                        <ul>
                            <li>Entrainements</li>
                            <li>Ecole de vélo</li>
                            <li>Sorties</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>Licence FFC</h3>
                        <div class="price">
                            50 ou 86 €
                        </div>
                        <ul>
                            <li>Minime ou Cadet: 50€</li>
                            <li>Junior et plus: 86€</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <h3>Licence UFOLEP</h3>
                        <div class="price">
                            39,92 ou 83,93 €
                        </div>
                        <ul>
                            <li>Néé après 1999: 39,92 € </li>
                            <li>Néé avant 1999: 83,93 €</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <h3>Loisir UFOLEP</h3>
                        <div class="price">
                            48,23 €
                        </div>
                        <ul>
                            <li>Randonnées Ufolep</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
