<div class="modal fade" id="entrainement-modal" ng-controller="entrainementModalController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Entrainement</h4>
            </div>
            <div class="modal-body">
                <form novalidate class="form-horizontal">
                    <div class="form-group">
                        <label for="input-entrainement-title" class="col-sm-2 control-label">Titre
                        </label>
                        <div class="col-sm-10">
                            <input id="input-entrainement-title" type="text" ng-model="entrainement_modal.titre" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-entrainement-date" class="col-sm-2 control-label">Date
                        </label>
                        <div class="col-sm-10">
                            <input id="input-entrainement-date" type="date" ng-model="entrainement_modal.date" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-entrainement-lieux" class="col-sm-2 control-label">Lieux
                        </label>
                        <div class="col-sm-10">
                            <input id="input-entrainement-lieux" type="text" ng-model="entrainement_modal.lieux" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type-entrainement" class="col-sm-2 control-label"> Type </label>
                        <div class="col-sm-10">
                            <select name="type-entrainement" type="text" ng-model="entrainement_modal.class">
                                <option value="loto">Route</option>
                                <option value="competition">VTT</option>
                                <option value="grenier">Special</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="entrainement_modal.visible"> Visible
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-show="entrainement_modal.success" class="alert alert-success" role="alert">
                    <b>Bravo</b>, Ajout effectué, Celui-ci sera visible d'ici quelques instants!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" ng-click="saveentrainement()">Sauver</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
