<section id="accueil">
    <div class="container">
        <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>Union Cycliste Gradignanaise</h2>
                    <p>L’UCG est un des clubs cyclistes formateurs de la région bordelaise. Chaque année, il accueille des jeunes à partir de 9 ans et les accompagne jusqu’à la catégorie junior. L’apprentissage du cyclisme passe par la maitrise du vélo dans différentes discipline. Il permet aussi d’acquérir ou de renforcer les notions d’effort, d’endurance et de volonté. L’UCG permet aussi aux plus grands de pratiquer leur passion sur la Route, la Piste ou en VTT. Chacun peut y trouver son compte.</p>
                </div>
            </div>
        </div>
        <div class="text-center our-services">
            <div class="row">
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="service-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="service-info">
                        <h3>Ecole de vélo</h3>
                        <p>L'école de vélo s'adresse aux 9 - 12 ans. C'est une école de vélo pluridisciplinaire avec les disciplines du vélo traditionnel (quille, sprint, cyclo-cross, route et relais) mais également les disciplines du VTT (la descente, l'orientation, le trial, le cross-country et le relais). A partir de la catégorie Minimes (12ans), les licenciés peuvent choisir de se spécialiser en rejoignant la section VTT ou les sections Route et piste.</p>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <div class="service-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="service-info">
                        <h3>Entrainement et Compétition Route, Piste et VTT</h3>
                        <p>La section compétition est affiliée à la FFC pour les catégories : minimes, cadets et juniors. Les entrainements alternent entre Route, Piste et VTT en fonction de la saison. En général le mercredi après-midi (Route ou Piste), Samedi après-midi en hiver (Route), Vendredi en fin d’après-midi au printemps (Route), Dimanche matin (VTT).</p>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
                    <div class="service-icon">
                        <i class="fa fa-picture-o"></i>
                    </div>
                    <div class="service-info">
                        <h3>Cyclo Route et VTT</h3>
                        <p>Les sections Cyclo sont affiliées à l’UFOLEP. Les sorties s’effectuent les dimanches matin en alternance avec des épreuves cyclo-sportives organisées dans la région. Les engagés dans les sections Cyclo sont aussi encouragés à participer aux entrainements de nos jeunes coureurs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>