<!--.preloader-->
<div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->
<header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(images/slider/1.jpg)">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Bienvenue à <span>l'U.C.G</span></h1>
                    <p class="animated fadeInRightBig">Union Cycliste Gradignanaise</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="#accueil">En savoir plus</a>
                </div>
            </div>
            <div class="item" style="background-image: url(images/slider/2.jpg)">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Sections <span>Route</span>, <span>Piste</span> et <span>VTT</span></h1>
                    <p class="animated fadeInRightBig">Union Cycliste Gradignanaise</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="#accueil">En savoir plus</a>
                </div>
            </div>
            <div class="item" style="background-image: url(images/slider/3.jpg)">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Une <span>Ecole de Vélo</span> toute discipline</h1>
                    <p class="animated fadeInRightBig">Union Cycliste Gradignanaise</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="#accueil">En savoir plus</a>
                </div>
            </div>
        </div>
        <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
        <a id="tohash" href="#accueil"><i class="fa fa-angle-down"></i></a>
    </div>
    <!--/#home-slider-->
    <div class="main-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="admin">
                    <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="scroll active"><a href="#accueil">Accueil</a></li>
                    <li class="scroll"><a href="#team">Entraînement</a></li>
                    <li class="scroll"><a href="#blog">Evénement</a></li>
                    <li class="scroll"><a href="#portfolio">Vie du club</a></li>
                    <li class="scroll"><a href="#contact">Contacts</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!--/#main-nav-->
</header>
<!--/#home-->

<ng-include src="'views/home/accueil/ucg-accueil.html'"></ng-include>
<!--/#services-->

<ng-include src="'views/home/features/ucg-features.html'"></ng-include>
<!--/#features-->

<ng-include src="'views/home/pricing/ucg-pricing.html'"></ng-include>
<!--/#pricing-->

<section id="about-us" class="parallax">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#twitter-->

<ucg-entrainements></ucg-entrainements>

<ucg-events></ucg-events>
<!--/#blog-->


<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h2>Nos Sponsors</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/cic.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>CIC</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://cic.fr/" ><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/ffc.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>FFC</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://www.ffc.fr/" ><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/garnier.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Garnier</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://garnierbx.com/" ><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/gradigna.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Ville de Gradignan</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://www.ville-gradignan.fr/"><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/immolight.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Immolight</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://www.immobilier-gradignan.com/"><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/komilfo.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Komilfo</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://www.komilfo-stores-gironde.com/" ><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/leroy.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Leroy Merlin</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://www.leroymerlin.fr/" ><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/pierremartin.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Pierre Martin</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://www.boucherie-martin.fr/" ><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/signature.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Signature Verte</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-link"><a class="folio-read-more" href="http://signatureverte.fr/" ><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/taysse.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Taysse</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/portfolio/ufolep33.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Ufolep 33</h3>
                                    <p></p>
                                </div>
                                <div class="folio-overview">
                                    <span><a class="folio-read-more" href="http://ufolep33.free.fr/" ><i class="fa fa-link"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio-single-wrap">
        <div id="portfolio-single">
        </div>
    </div>
    <!-- /#portfolio-single-wrap -->
</section>
<!--/#portfolio-->
<section id="contact">
    <div id="contact-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Contacts</h2>
                </div>
            </div>
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-6">
                        <form id="main-contact-form" name="contact-form" method="post" action="#">
                            <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-submit">Send Now</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <p></p>
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i> <span> Address:</span> 7rue Anatole France </li>
                                <li><i class="fa fa-phone"></i> <span> Phone:</span> 06 62 62 23 21 </li>
                                <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:president@ucg.fr"> President@ucg.fr</a></li>
                                <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.ucg-club.fr</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="google-map" class="wow fadeIn" data-latitude="44.778807" data-longitude="-0.611826" data-wow-duration="1000ms" data-wow-delay="400ms"></div>
</section>
<!--/#contact-->
<footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container text-center">
            <div class="footer-logo">
                <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
            </div>
            <div class="social-icons">
                <ul>
                    <li><a class="envelope" href="mailto:president@ucg.fr"><i class="fa fa-envelope"></i></a></li>
                    <!--<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; 2016 Oxygen Theme.</p>
                </div>
                <div class="col-sm-6">
                    <p class="pull-right">Crafted by <a href="http://designscrazed.org/">Allie</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
